- if @services.empty?

  .hero-unit
    %h1 Create your first External Service!
    %p Ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
    %p
      = link_to_with_icon 'plus', 'New External Service', new_external_service_path, class: 'btn btn-primary'

- else

  %table.table.table-striped

    %tbody
      %thead
        %tr
          %th Name
          %th Host
          %th

      - @services.each do |service|
        %tr

          %td= service.name

          %td= service.host

          %td

            %div.pull-right.switch.switch-small.service-toggle{ style: 'margin-left: 20px;'}
              = check_box_tag 'enabled', true, service.enabled?, data: { id: service.id }

            .btn-group.pull-right{style: 'margin-top: 2px;'}
              = link_to [:edit, service], class: 'btn btn-mini' do
                = icon_tag 'pencil', black: true
              = link_to service, class: 'btn btn-mini btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this external service?' } do
                = icon_tag 'trash'

  %p
    = link_to_with_icon 'plus', 'New External Service', new_external_service_path, class: 'btn btn-primary'